* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.row {
    overflow: hidden;
    width: $rowWidth;
    max-width: 100%;
    margin: 0 auto;
    @include media-query(1000px) {
        width: auto;
    }
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.columns {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 $columnPadding/2;
    &.right {
        float: right;
    }
    &.no-padding {
        padding: 0;
    }
    &>.columns {
        padding: 0;
    }
}

.twelve {
    width: 100%;
}
.eleven {
    width: percentage(11/12);
}
.ten {
    width: percentage(10/12);
}
.nine {
    width: percentage(9/12);
}
.eight {
    width: percentage(8/12);
}
.seven {
    width: percentage(7/12);
}
.six {
    width: percentage(6/12);
}
.five {
    width: percentage(5/12);
}
.four {
    width: percentage(4/12);
}
.three {
    width: percentage(3/12);
}
.two {
    width: percentage(2/12);
}
.one {
    width: percentage(1/12);
}

@include media-query() {
    .eleven, .ten, .nine, .eight, .seven, .six, .five, .four, .three, .two, .one {
        width: auto;
    }
}


.chromeframe {position: absolute; top: 0;}

.full-background {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    @include background-size(cover);
}

img {
    max-width: 100%;
    height: auto;
}