* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.row {
    overflow: hidden;
    width: $rowWidth;
    max-width: 100%;
    margin: 0 auto;
    @include media-query(1000px) {
        width: auto;
    }
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.columns {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 $columnPadding/2;
    &.right {
        float: right;
    }
    &.no-padding {
        padding: 0;
    }
    &>.columns {
        padding: 0;
    }
}

@for $i from 1 through $columns {
    .large-#{$i} {
        width: percentage($i/$columns);
        @include media-query() {
            width: 100%;
        }
    }
    .small-#{$i} {
        @include media-query() {
            width: percentage($i/$columns) !important;
        }
    }
    .left-#{$i} {
        left: percentage($i/$columns);
        @include media-query() {
            left:0;
        }
    }
    .right-#{$i} {
        right: percentage($i/$columns);
        @include media-query() {
            right: 0;
        }
    }
}

.chromeframe {position: absolute; top: 0;}

.full-background {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    @include background-size(cover);
}

img {
    max-width: 100%;
    height: auto;
}

#pageWrapper {
    padding-bottom: 50px;
}