#header {
    background: $white;
    position: fixed;
    left:     0;
    z-index:  50;
    width:    100%;
    @include box-shadow(0 -2px 10px $black);
    @include transition(.5s);
    @include media-query() {
        position: relative;
    }
    a {
        text-decoration: none;
        color: $darkBlue;
        display: inline-block;
        @include transition(.5s);
    }
    .logo {
        float: left;
        margin: 0;
        font-family:    $headerFontFamily;
        font-weight:    400;
        font-size:      30px;
        text-transform: uppercase;
        a {
            padding: 11px 8px 10px;
        }
    }
    .header-row {
        overflow:   visible;
    }

    #headerContent {
        padding:    0 (8 + $columnPadding/2) $columnPadding;
        clear:      left;
        max-height: 100px;
        @include transition(max-height .5s);
        i {
            margin: 0 5px;
        }
    }
    #fullNav {
        margin-top: $columnPadding;
        @include media-query() {
            display: none;
        }
        li {
            float:    left;
            position: relative;
            a {
                padding: 20px 10px;
                text-decoration: none;
                position: relative;
                background: $darkBlue;
                color: $white;
                text-align: center;
                min-width: 115px;
                @include transition(.5s);
                @include media-query(870px) {
                    min-width: 1px;
                }
                &:before {
                    font-family: $iconFontFamily;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.8em;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background: $white;
                    color: $darkBlue;
                    text-align: center;
                    top: 0;
                    left: 0;
                    line-height: 60px;
                    vertical-align: middle;
                    @include transition(.5s);
                }
                &:hover {
                    text-decoration: none;
                    &:before {
                        top: -100%;
                        @include transition(.2s);
                    }
                }
            }
            &.about a:before {
                content: $fa-var-info-circle;
            }
            &.team a:before {
                content: $fa-var-users;
            }
            &.contact a:before {
                content: $fa-var-phone;
            }
            &.map a:before {
                content: $fa-var-map-marker;
            }
            &.links a:before {
                content: $fa-var-link;
            }
            &.blog a:before {
                content: $fa-var-comments-o;
            }
            &.resources a:before {
                content: $fa-var-briefcase;
            }
            &.login a:before {
                content: $fa-var-unlock-alt;
            }
            &.donate a {
                @include media-query(870px) {
                    padding-left:  25px;
                    padding-right: 25px;
                }
                &:before {
                    content: 'Donate';
                    font-family: $headerFontFamily;
                    text-transform: uppercase;
                    font-size: 1.1em;
                }
            }
            &:hover .sub-menu{
                display: block;
            }
        }
        .sub-menu {
            position:  absolute;
            display:   none;
            top:       100%;
            left:      0;
            width:     auto;
            min-width: 100px;
        }
    }

    &.collapse {
        background: $darkBlue;
        a {
            color: $white;
        }
        #headerContent {
            max-height: 0;
            visibility: hidden;
            padding: 0px;
            clear: none;
        }
        #nav {
            margin-top: 0;
            li a {
                background: $white;
                color:      $darkBlue;
                &:before {
                    background: $darkBlue;
                    color:      $white;
                }
            }
        }
        #fullNav {
            margin-top: 0px;
        }
    }
}

#mobileNavButton {
    float:   right;
    padding: 15px 20px 10px 10px;
    cursor:  pointer;
    display: none;
    @include media-query() {
        display: block;
    }
    i {
        font-size: 2em;
    }
}

#mobileNav {
    display:      block;
    padding-top:  15px;
    padding-left: 15px;
    width:        75%;
    height:       100%;
    position:     absolute;
    background:   $darkBlue;
    //positioning MobileNav below and to the side
    z-index:      0;
    left:         0;
    opacity:      0;
    @include transition(.5s);
    &.active {
        display: block;
        left:    25%;
        opacity: 1;
    }
    a {
        text-decoration: none;
        padding:         8px 5px;
        display:         block;
        color:           $white;
        font-size:       1.3em;
    }
    .sub-menu {
        padding-left: $columnPadding/2;
        a {
            font-size:    1em;
            color:        darken($white, 10%);
        }
    }
}

#pageWrapper {
    position: relative;
    z-index:  1;
    right:     0;
    @include transition(.5s);
}

#mobileNav.active + #pageWrapper {
    position:   absolute;
    width:      100%;
    height:     100%;
    right:       75%;
    &:after {
        content:  '';
        display:  block;
        position: absolute;
        z-index: 100;
        top:      0;
        height:   100%;
        width:    100%;
        background: rgba($white, .3);
        @include transition(.5s);
    }
}