#header {
    background: $white;
    position: fixed;
    left:     0;
    z-index:  50;
    width:    100%;
    @include box-shadow(0 -2px 10px $black);
    @include transition(.5s);
    a {
        text-decoration: none;
        color: $blue;
        display: inline-block;
        @include transition(.5s);
    }
    .logo {
        float: left;
        margin: 0;
        font-family:    $headerFontFamily;
        font-weight:    400;
        font-size:      30px;
        text-transform: uppercase;
        a {
            padding: 11px 8px 10px;
        }
    }
    #headerContent {
        padding: 0 (8 + $columnPadding/2) $columnPadding;
        clear: left;
        max-height: 100px;
        @include transition(max-height .5s);
        i {
            margin: 0 5px;
        }
    }
    #nav {
        overflow: hidden;
        margin-top: $columnPadding;
        li {
            float: left;
            a {
                padding: 20px 10px;
                text-decoration: none;
                position: relative;
                background: $blue;
                color: $white;
                text-align: center;
                min-width: 115px;
                @include transition(.5s);
                @include media-query(870px) {
                    min-width: 1px;
                }
                @include media-query(767px, 550px) {
                    font-size: .9em;
                }
                @include media-query(549px) {
                    font-size: .7em;
                    padding: 10px 8px 16px;
                    &:before {
                        line-height: 40px !important;
                    }
                }
                &:before {
                    font-family: $iconFontFamily;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.8em;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background: $white;
                    color: $blue;
                    text-align: center;
                    top: 0;
                    left: 0;
                    line-height: 60px;
                    vertical-align: middle;
                    @include transition(.5s);
                }
                &:hover {
                    text-decoration: none;
                    &:before {
                        top: -100%;
                        @include transition(.2s);
                    }
                }
            }
            &.about a:before {
                content: $info-sign;
            }
            &.team a:before {
                content: $group;
            }
            &.contact a:before {
                content: $phone;
            }
            &.resources a:before {
                content: $briefcase;
            }
            &.login a:before {
                content: $unlock-alt;
            }
            &.donate a {
                @include media-query(870px) {
                    padding-left:  25px;
                    padding-right: 25px;
                }
                &:before {
                    content: 'Donate';
                    font-family: $headerFontFamily;
                    text-transform: uppercase;
                    font-size: 1.1em;
                    @include media-query(550px) {
                        font-size: 1em;
                    }
                }
            }
        }
    }

    &.active {
        background:          $blue;
        a {
            color: $white;
        }
        #headerContent {
            max-height: 0;
            visibility: hidden;
            padding: 0px;
            clear: none;
        }
        #nav {
            margin-top: 0;
            li a {
                background: $white;
                color:      $blue;
                &:before {
                    background: $blue;
                    color:      $white;
                }
            }
        }
    }
}