$gridColumns: 12;
$columnPadding: 16px;
$rowWidth: 1000px;

$bodyFontFamily: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$headerFontFamily: "Montserrat", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$iconFontFamily: 'FontAwesome';

$white: #FFFFFF;
$blue: #518ac8;
$green: #44b87b;
$yellow: #ffdd57;
$purple: #845fa7;
$red: #f37d69;
$grey: #626366;
$black: #000000;

//Color Varients:
$darkBlue: darken($blue, 45%);


$buttonRadius: 2px;
$sectionBorder: 1px solid lighten($grey, 20%);

$imagePath: 'images/';

/* Media Query Inline  use @include media-query($size) {  }  */
@mixin media-query($maxSize:767px, $minSize:0px) {
    @media only screen and (max-width: $maxSize) and (min-width: $minSize) { @content; }
}

@mixin at2x($image_name, $w: auto, $h: auto, $extention: '.jpg') {
  background-image: url($imagePath + $image_name + $extention);
  $x2img : $image_name + '@2x' + $extention;

  @media all and (-webkit-min-device-pixel-ratio : 1.5) {
    background-image: url($imagePath + $x2img);
    background-size: $w $h;
  }
}

@mixin transparent-text($backgroundColor: black) {
    background: rgba($backgroundColor, .7);
    color: $white;
    padding: 8px;
    a {
        color: $white;
    }
}

@mixin triangle($direction, $color, $width, $height) {
    @if $direction == "left" {
            border-bottom: $height/2 solid transparent;
            border-right: $width solid $color;
            border-top: $height/2 solid transparent;
    }
    @else if $direction == "right" {
            border-bottom: $height/2 solid transparent;
            border-left: $width solid $color;
            border-top: $height/2 solid transparent;
    }
    @else if $direction == "up" {
            border-bottom: $height solid $color;
            border-left: $width/2 solid transparent;
            border-right: $width/2 solid transparent;
    }
    @else if $direction == "down" {
            border-right: $width/2 solid transparent;
            border-left: $height/2 solid transparent;
            border-top: $height solid $color;
    }
    @if $direction == "left-top" {
            border-bottom: $height solid transparent;
            border-left: $width solid $color;
    }
    @else if $direction == "right-top" {
            border-bottom: $height solid transparent;
            border-right: $width solid $color;
    }
    @else if $direction == "left-bottom" {
            border-top: $height solid transparent;
            border-left: $width solid $color;
    }
    @else if $direction == "right-bottom" {
            border-top: $height solid transparent;
            border-right: $width solid $color;
    }

    height: 0;
    width: 0;
}