$columnPadding: 30px;
$rowWidth: 1000px;

$white: #FFFFFF;
$red: #F37C68;
$blue: #508AC8;
$green: #44B97B;
$orange: #DD905C;
$purple: #855FA8;
$grey: #626366;

/* Media Query Inline  use @include media-query($size) {  }  */
@mixin media-query($maxSize:767px, $minSize:0px) {
    @media only screen and (max-width: $maxSize) and (min-width: $minSize) { @content; }
}