#page {
    .splash-section {
        padding-top: 43%;
        max-height: 1250px;
        margin-bottom: -100px;
        @include media-query() {
            margin-bottom: 0;
        }
    }
}

#page #mainContent {
    border-top: 4px solid $blue;
    .title {
        text-transform: uppercase;
        font-weight: 600;
        display: block;
        color: lighten($black, 10%);
        @include transition(.2s);
        h1 {
            @include media-query() {
                font-size: 1.2em;
            }
        }
    }
    .content {
        min-height: 300px;
        padding-bottom: 30px;
        .text {
            margin-top: 25px;
            line-height: 1.4em;
        }
    }
}

#map {
    position:   relative;
    width:      100%;
    min-height: 400px;
    p, iframe {
        position: absolute;
        top:      0;
        right:    0;
        bottom:   0;
        left:     0;
        height:   100%;
        width:    100%;
    }
}