.posts{
    margin-bottom: 30px;
    .banner {
        background: $blue;
    }
}

#postArchive {
    min-height: 300px;
    .banner {
        margin: 0;
    }
}


.single {
    .splash-section {
        padding-top: 40%;
        margin-bottom: -100px;
        max-height: 1250px;
        @include media-query() {
            margin-bottom: 0;
        }
    }
    #mainContent {
        border-top: 4px solid $blue;
        .title {
            text-transform: uppercase;
            font-weight: 600;
            display: block;
            color: lighten($black, 10%);
            @include transition(.2s);
            h1 {
                @include media-query() {
                    font-size: 1.2em;
                }
            }
        }
        .content {
            min-height: 300px;

        }
    }
}

.post {
    overflow-y: visible;
    background: $white;
    padding: 0 $columnPadding $columnPadding;
    margin: 0 $columnPadding/-2;
    border-top: 4px solid $blue;
    .image-box {
        margin: 0 -1*$columnPadding;
        display: block;
        .image {
            padding-top: 38.7%;
            display: block;
        }
    }
    .content {
        padding-bottom: 25px;
        a {
            text-decoration: none;
        }
        .title {
            text-transform: uppercase;
            font-weight: 600;
            display: block;
            color: lighten($black, 10%);
            @include transition(.2s);
            h1 {
                @include media-query() {
                    font-size: 1.2em;
                }
            }
        }
        .info {
            margin: $columnPadding/2 0;
            .category {
                background: $blue;
                font-weight: 600;
                font-size: .9em;
                text-transform: uppercase;
                padding: 5px;
                letter-spacing: 1px;
                float: left;
                @include transition(.2s);
                @include media-query() {
                    font-size: .7em;
                }
                a {
                    color: $white;
                }
                &:hover {
                    background: darken($blue, 10%);
                }
            }
            .meta {
                width: auto;
                overflow: auto;
                text-align: right;
                font-size: .9em;
                @include media-query() {
                    font-size: .8em;
                }
            }
        }
        .text {
            margin-top: 25px;
            line-height: 1.4em;
        }
        .meta, .excerpt {
            position: relative;
        }
        .excerpt {
            font-size: .9em;
            padding-top: 0px;
        }
        .read-more {
            float: right;
        }
    }
    .post-thumbnail {
        min-height: 200px;
    }
}

.navigation {
    @include clearfix();
    .next-posts {
        float: left;
    }
    .prev-posts {
        float: right;
    }
}