body, p{
    font-family: $bodyFontFamily;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFontFamily;
    font-weight: 400;
    &.subheader {
        text-transform: uppercase;
    }
    &.small {
        font-family: $bodyFontFamily;
    }
}

h1 {
    font-size: 30px;
    margin: 15px 0;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

h3 {
    font-size: 20px;
    margin: 8px 0;
}

h4 {
    font-size: 16px;
    margin: 6px 0;
}

h5 {
    font-size: 14px;
    margin: 4px 0;
}

h6 {
    font-size: 12px;
}

select, input, textarea {color: #333;}

a {
    color: #03f;
    &:hover {
        color: #69f;
    }
}

@mixin ellipsis($oneLine: false) {
    overflow: hidden;
    text-overflow:ellipsis;
    @if $oneLine == true {
        white-space: nowrap;
    }
}

.banner {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: $headerFontFamily;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    border-bottom: 2px solid $white;
    &:hover {
        color: $white;
    }
}

.read-more {
    text-align: right;
    &:hover {
        text-decoration: underline;
    }
}

@mixin ellipsis($oneLine: false) {
    overflow: hidden;
    text-overflow:ellipsis;
    @if $oneLine == true {
        white-space: nowrap;
    }
}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
/*
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}
*/

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }


@font-face {
  font-family: 'osborn';
  src: url('fonts/osborn.eot?57050711');
  src: url('fonts/osborn.eot?57050711#iefix') format('embedded-opentype'),
       url('fonts/osborn.woff?57050711') format('woff'),
       url('fonts/osborn.ttf?57050711') format('truetype'),
       url('fonts/osborn.svg?57050711#osborn') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'osborn';
    src: url('../font/osborn.svg?57050711#osborn') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "osborn";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-left:before { content: '\e80e'; }
.icon-up:before { content: '\e810'; }
.icon-right:before { content: '\e80f'; }
.icon-down:before { content: '\e80d'; }
.icon-home:before { content: '\e802'; }
.icon-edit:before { content: '\e809'; }
.icon-ok:before { content: '\e819'; }
.icon-cancel:before { content: '\e818'; }
.icon-help-circled:before { content: '\e804'; }
.icon-info-circled:before { content: '\e803'; }
.icon-print:before { content: '\e808'; }
.icon-comment:before { content: '\e811'; }
.icon-chat:before { content: '\e80a'; }
.icon-location:before { content: '\e80b'; }
.icon-spin5:before { content: '\e813'; }
.icon-twitter:before { content: '\e807'; }
.icon-facebook:before { content: '\e806'; }
.icon-menu:before { content: '\e81d'; }
.icon-mail-alt:before { content: '\e81b'; }
.icon-food:before { content: '\e81a'; }
.icon-mobile:before { content: '\e817'; }
.icon-lock-open-alt:before { content: '\e805'; }
.icon-graduation-cap:before { content: '\e814'; }
.icon-user:before { content: '\e801'; }
.icon-users:before { content: '\e800'; }
.icon-briefcase:before { content: '\e815'; }
.icon-calendar-1:before { content: '\e812'; }
.icon-phone:before { content: '\e80c'; }
.icon-camera-1:before { content: '\e816'; }
.icon-search:before { content: '\e81c'; }


/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
