@import "./_font-awesome.scss";

body, p{
    font-family: $bodyFontFamily;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFontFamily;
    font-weight: 400;
    &.subheader {
        text-transform: uppercase;
    }
    &.small {
        font-family: $bodyFontFamily;
    }
}

h1 {
    font-size: 30px;
    margin: 15px 0;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

h3 {
    font-size: 20px;
    margin: 8px 0;
}

h4 {
    font-size: 16px;
    margin: 6px 0;
}

h5 {
    font-size: 14px;
    margin: 4px 0;
}

h6 {
    font-size: 12px;
}

select, input, textarea {color: #333;}

a {
    color: #03f;
    &:hover {
        color: #69f;
    }
}

@mixin ellipsis($oneLine: false) {
    overflow: hidden;
    text-overflow:ellipsis;
    @if $oneLine == true {
        white-space: nowrap;
    }
}

.banner {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: $headerFontFamily;
    font-weight: 600;
    color: lighten($black, 10%);
    background: darken($white, 10%);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    @include transition(.2s);
    &:hover {
        background: darken($white, 20%);
        color: lighten($black, 10%);
    }
}

.read-more {
    text-align: right;
    &:hover {
        text-decoration: underline;
    }
}

@mixin ellipsis($oneLine: false) {
    overflow: hidden;
    text-overflow:ellipsis;
    @if $oneLine == true {
        white-space: nowrap;
    }
}