@import "compass/css3";
@import "_osborn-settings.scss";

@mixin transparent-text($backgroundColor: black) {
    background: rgba($backgroundColor, .7);
    color: $white;
    padding: 8px;
    a {
        color: $white;
    }
}

#homepage .splash-section {
    min-height: 300px;
    .home-text {
        @include transparent-text;
        margin: 30px 0;
        padding-bottom: $columnPadding;
    }
}

.banner {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: $headerFontFamily;
    color: $white;
    text-transform: uppercase;
    font-size: 1.5em;
    border-bottom: 2px solid $white;
}

.posts{
    margin-bottom: 30px;
    .banner {
        background: $blue;
    }
}

.post {
    min-height: 200px;
    border-bottom: 2px solid $white;
    &:hover {
        .content {
            .title, .meta, .excerpt {
                background: $blue;
                @include transition(.2s);
            }
            .meta, .excerpt {
                right: 0;
            }
        }
    }
    .post-link {
        width: 100%;
        background: transparent;
        position: absolute;
        height: 100%;
        left: 0;
        @include transition(.2s);
    }
    .content {
        padding-top: 15px;
        a {
            text-decoration: none;
        }
        .title {
            text-transform: uppercase;
            @include transparent-text($blue);
            padding: 8px;
            @include media-query() {
                background-color: $blue;
            }
        }
        .meta, .excerpt {
            @include transparent-text($blue);
            position: relative;
            right: -100%;
            @include transition(.2s);
            @include media-query() {
                right: 0;
                background-color: $blue;
            }
        }
        .meta {
            padding-bottom: 0px;
        }
        .excerpt {
            font-size: .9em;
            padding-top: 0px;
        }
    }
}

.read-more {
    text-align: right;
    &:hover {
        text-decoration: underline;
    }
}

.events{
    .banner {
        background: $green;
    }
}

.event {
    padding-left: 0px;
    margin-bottom: 30px;
    &:hover {
        .photo .image-box .date-box {
            top:0;
            @include transition(.2s);
        }
    }
    .content {
        min-height: 150px;
        .title {
            margin-bottom: 2px;
        }
        .excerpt {
            font-size: .9em;
        }
    }
    .photo {
        a {
            text-decoration: none;
        }
        .date-box {
            background: $green;
            width: 100%;
            max-width: 150px;
            height: 150px;
            line-height: 130px;
            text-align: center;
            padding: 8px;
            @include transition(.2s);
            .date {
                display: inline-block;
                color: $white;
                font-family: $headerFontFamily;
                text-transform: uppercase;
                font-size: 1.5em;
                line-height: 1;
                vertical-align: middle;
            }
        }
        .image-box {
            position: relative;
            .date-box {
                position: absolute;
                top:-100%;
            }
        }
    }
    &:hover {

    }
}