@import "compass/css3";
@import "_osborn-settings.scss";

@mixin transparent-black {
    background: rgba(black, .7);
    color: $white;
    margin-top: $columnPadding/2;
    margin-bottom: $columnPadding/2;
    padding: $columnPadding/2;
    a {
        color: $white;
    }
}

#homepage .splash-section {
    min-height: 325px;
    .content {
        @include transparent-black;
    }
}

.banner {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: $headerFontFamily;
    color: $white;
    text-transform: uppercase;
    font-size: 1.5em;
}

.posts{
    .banner {
        background: $blue;
    }
}

.post {
    min-height: 150px;
    border-bottom: 2px solid $white;
    &:hover {
        .content {
            @include transition(.2s);
            @include box-shadow(4px 4px $blue);
            right: 4px;
            top: -4px;
        }

    }
    .post-link {
        width: 100%;
        background: transparent;
        position: absolute;
        height: 100%;
        left: 0;
        @include transition(.2s);
    }
    .content {
        @include transparent-black;
        .title {
            text-transform: uppercase;
        }
    }
}

.events{
    .banner {
        background: $green;
    }
}