/* Media Query Inline  use @include media-query($size) {  }  */
/* line 4, sass/home.scss */
#homepage .splash-section {
  min-height: 300px;
  margin-bottom: 16px;
}
/* line 7, sass/home.scss */
#homepage .splash-section .home-text {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  margin: 30px 0;
  padding-bottom: 16px;
}
/* line 27, sass/_osborn-settings.scss */
#homepage .splash-section .home-text a {
  color: white;
}
