/* Media Query Inline  use @include media-query($size) {  }  */
/* line 13, sass/home.scss */
#homepage .splash-section {
  min-height: 325px;
}
/* line 15, sass/home.scss */
#homepage .splash-section .home-text {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  margin-top: 30px;
  padding-bottom: 16px;
}
/* line 8, sass/home.scss */
#homepage .splash-section .home-text a {
  color: white;
}

/* line 22, sass/home.scss */
.banner {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: "Montserrat", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  border-bottom: 2px solid white;
}

/* line 33, sass/home.scss */
.posts {
  margin-bottom: 30px;
}
/* line 35, sass/home.scss */
.posts .banner {
  background: #508ac8;
}

/* line 40, sass/home.scss */
.post {
  min-height: 200px;
  border-bottom: 2px solid white;
}
/* line 45, sass/home.scss */
.post:hover .content .title, .post:hover .content .meta, .post:hover .content .excerpt {
  background: #508ac8;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 49, sass/home.scss */
.post:hover .content .meta, .post:hover .content .excerpt {
  right: 0;
}
/* line 54, sass/home.scss */
.post .post-link {
  width: 100%;
  background: transparent;
  position: absolute;
  height: 100%;
  left: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 62, sass/home.scss */
.post .content {
  padding-top: 15px;
}
/* line 64, sass/home.scss */
.post .content a {
  text-decoration: none;
}
/* line 67, sass/home.scss */
.post .content .title {
  text-transform: uppercase;
  background: rgba(80, 138, 200, 0.7);
  color: white;
  padding: 8px;
  padding: 8px;
}
/* line 8, sass/home.scss */
.post .content .title a {
  color: white;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  /* line 67, sass/home.scss */
  .post .content .title {
    background-color: #508ac8;
  }
}
/* line 75, sass/home.scss */
.post .content .meta, .post .content .excerpt {
  background: rgba(80, 138, 200, 0.7);
  color: white;
  padding: 8px;
  position: relative;
  right: -100%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 8, sass/home.scss */
.post .content .meta a, .post .content .excerpt a {
  color: white;
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  /* line 75, sass/home.scss */
  .post .content .meta, .post .content .excerpt {
    right: 0;
    background-color: #508ac8;
  }
}
/* line 85, sass/home.scss */
.post .content .meta {
  padding-bottom: 0px;
}
/* line 88, sass/home.scss */
.post .content .excerpt {
  font-size: .9em;
  padding-top: 0px;
}

/* line 95, sass/home.scss */
.read-more {
  text-align: right;
}
/* line 97, sass/home.scss */
.read-more:hover {
  text-decoration: underline;
}

/* line 103, sass/home.scss */
.events .banner {
  background: #44b97b;
}

/* line 108, sass/home.scss */
.event {
  padding-left: 0px;
  margin-bottom: 30px;
}
/* line 112, sass/home.scss */
.event:hover .photo .image-box .date-box {
  top: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 117, sass/home.scss */
.event .content {
  min-height: 150px;
}
/* line 119, sass/home.scss */
.event .content .title {
  margin-bottom: 2px;
}
/* line 122, sass/home.scss */
.event .content .excerpt {
  font-size: .9em;
}
/* line 127, sass/home.scss */
.event .photo a {
  text-decoration: none;
}
/* line 130, sass/home.scss */
.event .photo .date-box {
  background: #44b97b;
  width: 100%;
  max-width: 150px;
  height: 150px;
  line-height: 130px;
  text-align: center;
  padding: 8px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 139, sass/home.scss */
.event .photo .date-box .date {
  display: inline-block;
  color: white;
  font-family: "Montserrat", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1;
  vertical-align: middle;
}
/* line 149, sass/home.scss */
.event .photo .image-box {
  position: relative;
}
/* line 151, sass/home.scss */
.event .photo .image-box .date-box {
  position: absolute;
  top: -100%;
}
